extends ./layout.jade
block body
  p You have added a new todo: #{todo.title}
  
  if todo.id % 2 == 0
    p Your id is even
  else
    p Your id is odd
  
  p 
  | Your id is 
  strong=todo.id

block body
  p You have added a new todo! #{todo.id}: #{todo.title}
  p
    | Your id is 
    strong= todo.id
  if todo.id % 2
    p Your id is odd!
  else
    p Your id is even!
